---
layout: page
description: Maybe Kewth's blog?
header-img: img/HY_zly.jpg
---

<div id="MORE">
<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3); color: purple; width: 80%;" SIZE=3>
<strong>─────────────────────────────────────────────────</strong>
<p><strong>目录:</strong></p>
<ul>
	<li><a href="/help">寻求帮助</a></li>
	<li><a href="#jsq_only">计数器</a></li>
	<li><a href="#get_name_of_Quan">权限</a></li>
	<li><a href="#hitokoto">一言</a></li>
	<li><a href="#blog_begin">文章</a></li>
	<li><a onclick="Wen_only()">纯文章模式</a></li>
</ul>
<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3); color: purple; width: 80%;" SIZE=3>
<strong>─────────────────────────────────────────────────</strong>
<div align="center" id="jsq_only">
	<p>这是一个mini计数器</p>
</div>
<div align="center"><a href="http://www.amazingcounters.com"><img border="0" src="http://cc.amazingcounters.com/counter.php?i=3225836&c=9677821" alt="AmazingCounters.com"></a></div>
<div align="center"><a href="http://www.amazingcounters.com"><img border="0" src="http://cc.amazingcounters.com/counter.php?i=3225856&c=9677881" alt="AmazingCounters.com"></a></div>
<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3); color: purple; width: 80%;" SIZE=3>
<strong>─────────────────────────────────────────────────</strong>
<p>输入权限名:</p>
<input id="get_name_of_Quan" type="text" />
<button type="button" onclick="get_name_of_Quan()" class="btn-info">权限页面跳转</button>
<p id="Quan_name"></p>
<button onclick="see_Quan_name()" type="button" class="btn btn-block btn-info" id="to_see_Quan_name">查看权限</button>
<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3); color: purple; width: 80%;" SIZE=3>
<strong>─────────────────────────────────────────────────</strong>
<p id="hitokoto">正在选取骚话...</p>
<p id="hitokoto_from">嗯?莫非这个浏览器不支持骚话?</p>
<!-- end of more -->
</div>

<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3); color: purple; width: 80%;" SIZE=3>
<strong>─────────────────────────────────────────────────</strong>
<div id="blog_begin"><p><strong>下面是华丽的文章:</strong></p></div>
<!-- don't zai zhe xia mian do anything --> 
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}

	{% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
	<!-- <span class="active">{{ page }}</span> -->
    {% elsif page == 1 %}
    <li class="mid">
		<a href="/">{{ page }}</a>
	</li>
    {% else %}
    <li class="mid">
		<a href="/{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	</li>
    {% endif %}
	{% endfor %}

    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

	
<script>
window.onload=function()
{
	if(getCookie("Long_Time_No_See") == null)
	{
		alert('long time no see');
		setCookie("Long_Time_No_See","true",'d7');
		document.write("<p>很久没有,或者第一次访问这个博客的主页吧<\/p>");
		document.write("<p>先了解一下,获取帮助?<\/p>");
		document.write("<p>将在3秒后自动跳转到帮助页面<\/p>");
		document.write("<a href='/'>你也可以点这直接访问主页<\/a>");
		setTimeout(function() {location.href = '/help/';} , "3000");
	}
	else
		setCookie("Long_Time_No_See","true",'m1');
}
function see_Quan_name()
{
	var x_Quan_name = document.getElementById("Quan_name");
	if(x_Quan_name.innerHTML=="")
	{
		x_Quan_name.innerHTML="当前权限:"+getCookie('Quan_name');
		document.getElementById("to_see_Quan_name").innerHTML="隐藏权限";
	}
	else
	{
		x_Quan_name.innerHTML="";
		document.getElementById("to_see_Quan_name").innerHTML="查看权限";
	}
}
function get_name_of_Quan()
{
	var x_get_name = document.getElementById("get_name_of_Quan");
	var st=x_get_name.value;
	if(st=="")
	{
		if(getCookie("Quan_name")!=null)
			location.href='/Quan/'+getCookie('Quan_name')+'/';
		else 
			location.href='/Quan/NULL/';
	}
	else if(st=="Kewth" || st=="Debug")
	{
		setCookie('Quan_name',st,'d1');
		location.href='/Quan/'+st+'/';
	}
	else 
	{
		alert("没有此权限名!");
	}
}
function Wen_only()
{
	var line1="<strong><p>当前为纯文章模式<\/p><\/strong>";
	var line2="<a href='/'>点此进入正常模式<\/a>";
	document.getElementById("MORE").innerHTML = line1 + line2;
}
fetch('https://v1.hitokoto.cn')
	.then(
			function (res)
			{
				return res.json();
			}
		 )
	.then(
			function (data)
			{
				var hitokoto = document.getElementById('hitokoto');
				hitokoto.innerHTML = '一句骚话:<strong>' + data.hitokoto + '</strong>';
				hitokoto_from.innerHTML = '<i>--' + data.from + '</i>';
			}
		 )
	.catch(
			function (err)
			{
				console.error(err);
			}
		  )
</script>

