<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li> -->
                <!--     <a href="{{ site.baseurl }}/">Home</a> -->
                <!-- </li> -->
				{% for page in site.pages %}
					{% if page.chtitle %}
						{% if page.hide %}
						{% else %}
						<li>
							<a href="{{ page.url | prepend: site.baseurl }}">{{ page.chtitle }}</a>
						</li>
						{% endif %}
					{% endif %}
				{% endfor %}
<!--
				<li>
		    	<div class="btn-group">
      				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">友链<span class="caret"></span></button>
      				<ul class="dropdown-menu">
          				<li><a href="http://tchoi.club/">一个简单的oier</a></li>
      				</ul>
				</div>
				</li>
-->
<!-- test -->
		    <li>		    
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">友链<span class="caret"></span></button>
                        <ul class="dropdown-menu">
				<li><a href="http://tchoi.club/">一个简单的oier</a></li>
                        </ul>
                </span>
            </div>
        </div>
    </div>
</div>
		    </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
	<!-- <p>zhè lǐ is common dǎo can't zài common de jú rùo Kewth's blog</p> -->
</nav>
